body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('new_bg_login.jpeg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40%; 
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border-right: 1px solid white; 
    border-top-right-radius: 100px 200px;
    border-bottom-right-radius: 100px 200px;
}

header h1 {
    text-align: center;
    font-size: 36px;
    margin: 0;
    color: #d94a4a; 
}

header p {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    color: #d94a4a; 
}

main {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 100vh;
    padding-right: 20%; 
}

section {
    position: relative;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border: 1px solid #fff;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

input[type="text"],
input[type="password"],
button {
    display: block;
    margin-bottom: 20px;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button {
    background-color: #d94a4a;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #b83a3a;
}
